---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I’m Connor Stevenson Forrester, a cybersecurity enthusiast and pen tester passionate about 
		hands-on learning and practical applications of security concepts. Over the past few years, I’ve 
		immersed myself in real-world security challenges through platforms like HackTheBox Academy/Labs/CTF, PortSwigger 
		Web Security Academy, building a strong foundation in penetration testing, web security, and vulnerability research.
	</p>

	<p>
		I’ve also worked on several personal projects that combine security with automation, including 
		Python scripts for automating repetitive tasks, and local web server deception experiments to study 
		attacker behaviour. Each project helps me understand not just the theory, but the practical steps needed to secure and analyse systems effectively.
	</p>

	<p>
		-
	</p>

	<p>
		-
	</p>

	<p>
		-
</Layout>
